{% extends 'panel/layout/base.html.twig' %}

{% block title %}Zarządzanie stacjami i cenami paliw{% endblock %}

{% block body %}
  <div class="page-body">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <h1 class="col card-title fw-bold">Zarządzanie stacjami i cenami paliw</h1>

          <a href="{{ path('panel_gas_station_create') }}" class="col-auto btn btn-primary">
            <i class="ti ti-plus me-1"></i> Dodaj nową stację
          </a>
        </div>

        {% if stations is empty %}
          <div class="card-body">
            Żadna stacja nie została jeszcze dodana. <a href="{{ path('panel_gas_station_create') }}">Dodaj nową
              stację</a>.
          </div>
        {% endif %}

        <div class="list-group list-group-flush js-sortable" data-url="{{ path('panel_gas_station_change_order') }}">
          {% for station in stations %}
            <div class="list-group-item" data-element-id="{{ station.id }}">
              <div class="row align-items-center">
                <div class="col-auto js-drag-handler">
                  <i class="ti ti-grip-vertical text-muted cursor-grab"></i>
                </div>

                <div class="col-auto">
                  <div>
                    <strong>{{ station.name }}</strong>, <span>{{ station.address }}</span>
                  </div>
                </div>

                <div class="col-auto ms-auto">
                  <a
                    href="{{ path('panel_gas_station_edit', {id: station.id}) }}"
                    class="btn text-muted btn-icon"
                  >
                    <i class="ti ti-edit-circle"></i>
                  </a>

                  <a
                    href="{{ path('panel_gas_station_delete', {id: station.id}) }}"
                    class="btn btn-icon btn-danger js-confirm"
                  >
                    <i class="ti ti-trash"></i>
                  </a>
                </div>
              </div>

              <form
                action="{{ path('panel_gas_station_set_prices') }}"
                class="row align-items-center mt-3 p-3 pt-2 g-2 bg-body js-station-prices"
              >
                {% for key, label in get_gas_station_fuel_types() %}
                  <div class="col-auto">
                    <div class="input-group">
                      <div class="form-floating">
                        <input
                          type="number"
                          min="0"
                          max="10"
                          step="0.01"
                          value="{{ stationPrices[station.id][key]|default('') }}"
                          class="form-control"
                          placeholder="{{ label }}"
                          name="prices[{{ station.id }}][{{ key }}]"
                          {% if not attribute(station, 'has' ~ key|capitalize) %}disabled{% endif %}
                        >
                        <label>{{ label }}</label>
                      </div>

                      <span class="input-group-text">zł</span>
                    </div>
                  </div>
                {% endfor %}

                <div class="col-auto ms-auto">
                  <button type="submit" class="btn btn-outline-success">Zapisz</button>
                </div>
              </form>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
