{% extends 'panel/layout/base.html.twig' %}

{% block title %}Zarządzanie reklamami{% endblock %}

{% block body %}
  <div class="page-body">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <h1 class="col card-title fw-bold">Zarządzanie reklamami</h1>

          <a href="{{ path('panel_ad_create') }}" class="col-auto btn btn-primary">
            <i class="ti ti-plus me-1"></i> Dodaj nową reklamę
          </a>
        </div>

        <div class="card-body border-bottom py-3">
          <form class="d-flex flex-column flex-md-row list-form" method="get">
            <input type="hidden" name="page" value="{{ app.request.get('page')|default(1) }}" />

            <div class="text-secondary">
              Pokaż
              <div class="mx-2 d-inline-block">
                <input type="number" name="number" class="form-control form-control-sm" value="{{ app.request.get('number')|default('15') }}"  min="1" max="1000">
              </div>
              reklam
            </div>
          </form>
        </div>

        <div class="table-responsive">
          <table class="table card-table table-vcenter table-striped table-hover datatable">
            <thead>
            <tr>
              <th>ID</th>
              <th>Grafika</th>
              <th>Tytuł</th>
              <th>Opis</th>
              <th>Data rozpoczęcia</th>
              <th>Data zakończenia</th>
              <th>Pozycja</th>
              <th>Status</th>
              <th>Wyświetleń</th>
              <th>Kliknięć</th>
              <th>Dodano</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            {% for promo in promoItems %}
              <tr>
                <td class="fs-5">{{ promo.id }}</td>
                <td class="text-center">
                  <img
                    src="{{ promo.imageUrl|default('/build/images/empty-photo.png')|imagine_filter('round_small') }}"
                    class="rounded-2"
                    width="40"
                  />
                </td>
                <td class="fs-5 fw-medium">{{ promo.title }}</td>
                <td class="fs-5" title="{{ promo.description }}">{{ promo.description|slice(0, 20) }}</td>
                <td class="fs-5">
                  {% if promo.startDate %}
                    {{ promo.startDate|date('Y-m-d') }}
                  {% else %}
                    ---
                  {% endif %}
                </td>
                <td class="fs-5">
                  {% if promo.endDate %}
                    {{ promo.endDate|date('Y-m-d') }}
                  {% else %}
                    ---
                  {% endif %}
                </td>
                <td class="fs-5">
                  <span class="badge">
                    {{ promo.position }}
                  </span>
                </td>
                <td class="fs-5">
                  {% if promo.isActive == 'active' %}
                    <span class="badge bg-green me-1"></span> Aktywna
                  {% else %}
                    <span class="badge bg-red me-1"></span> Nieaktywna
                  {% endif %}
                </td>
                <td class="fs-5">{{ promo.viewsCount }}</td>
                <td class="fs-5">{{ promo.clicksCount }}</td>
                <td class="fs-5">{{ promo.createdAt|date('d.m.Y H:i') }}</td>
                <td>
                  <div class="btn-list justify-content-end">
                    <a href="{{ path('panel_ad_edit', {'id': promo.id}) }}" class="btn text-muted btn-icon">
                      <i class="ti ti-edit-circle"></i>
                    </a>

                    <a href="{{ path('panel_ad_delete', {'id': promo.id}) }}" class="btn btn-danger btn-icon js-confirm">
                      <i class="ti ti-trash"></i>
                    </a>
                  </div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="card-footer d-flex align-items-center">
          <p class="m-0 text-secondary">Pokazane <span>{{ paginator.currentPageFirstItem }}</span> do <span>{{ paginator.currentPageLastItem }}</span> z <span>{{ paginator.totalItems }}</span> reklam</p>

          <div class="m-0 ms-auto">
            {{ paginator.toHtml|raw }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
