<div class="bottom bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-2 mb-4 mt-md-2 mt-lg-4">
        <h5 class="text-muted">{{ app_name }}</h5>
        <ul class="nav flex-column">
          <li><a class="nav-link" href="{{ path('static_page_show', {slug: 'redakcja'}) }}">Redakcja</a></li>
          <li><a class="nav-link" href="{{ path('static_page_show', {slug: 'wspolpraca'}) }}">Współpraca</a></li>
          <li><a class="nav-link" href="{{ path('static_page_show', {slug: 'reklama'}) }}">Reklama</a></li>
          <li><a class="nav-link" href="{{ path('static_page_show', {slug: 'regulamin-ogloszen'}) }}">Regulamin ogłoszeń</a></li>
          <li><a class="nav-link" href="{{ path('static_page_show', {slug: 'regulamin-katalogu-firm'}) }}">Regulamin katalogu firm</a></li>
          <li><a class="nav-link" href="{{ path('static_page_show', {slug: 'prywatnosc'}) }}">Prywatność</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-4 mt-md-2 mt-lg-4">
        <h5 class="text-muted">Urzędy</h5>
        <ul class="nav flex-column">
          <li><a class="nav-link" href="https://www.augustow.pl/">Urząd Miasta</a></li>
          <li><a class="nav-link" href="https://www.gminaaugustow.pl/">Urząd Gminy</a></li>
          <li><a class="nav-link" href="https://augustow.praca.gov.pl/">Powiatowy Urząd Pracy</a></li>
          <li><a class="nav-link" href="https://augustow-powiat.pl/">Starostwo Powiatowe</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-4 mt-md-2 mt-lg-4">
        <h5 class="text-muted">Instytucje</h5>
        <ul class="nav flex-column">
          <li><a class="nav-link" href="https://augustow.policja.gov.pl/">Policja</a></li>
          <li><a class="nav-link" href="https://www.gov.pl/web/kppsp-augustow">Straż Pożarna</a></li>
          <li><a class="nav-link" href="https://zs1.augustow.pl/">Zespół Szkół nr 1</a></li>
          <li><a class="nav-link" href="https://zs2.augustow.pl/">Zespół Szkół nr 2</a></li>
          <li><a class="nav-link" href="https://zs3.augustow.pl/">Zespół Szkół nr 3</a></li>
          <li><a class="nav-link" href="https://mops.augustow.pl/">MOPS w Augustowie</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-3 mb-4 mt-md-2 mt-lg-4">
        <h5 class="text-muted">Miejskie serwisy</h5>
        <ul class="nav flex-column">
          <li><a class="nav-link" href="https://ock.augustow.pl/">Ośrodek Kultury w Augustowie</a></li>

          <li><a class="nav-link" href="https://muzeum.augustow.pl/">Muzeum Ziemi Augustowskiej</a></li>
          <li><a class="nav-link" href="https://biblioteka.augustow.pl/">Miejska Biblioteka</a></li>
        </ul>
      </div>

      <div class="col-12 col-md-3 mb-3 text-white-50">
        <img src="{{ asset('build/images/logo_a24_dark.svg') }}" alt="Logo serwisu" class="mb-3" style="max-width: 220px;"/>
        <p>Czekamy na Twoje ciekawe zdjęcia, filmy i artykuły. Z chęcią udostępnimy je.</p>

        <h5>Zadzwoń lub napisz</h5>
        <ul class="nav flex-column">
          <li>E-mail: <a href="mailto:redakcja@augustow24.pl" class="link-primary fw-medium">redakcja@augustow24.pl</a>
          </li>
          <li>Telefon: <a href="tel:604833731" class="link-primary fw-medium">604 833 731</a></li>
          <li>Fax: <a href="tel:862726697" class="link-primary fw-medium">86 272 66 97</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-12 py-3 border-top border-secondary-subtle text-center">
        <a href="https://www.facebook.com/Augustow24/?locale=pl_PL" target="_blank" rel="noopener"
           class="link-light d-inline-flex align-items-center gap-2 fw-medium">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
          </svg>
          Znajdź nas na Facebooku
        </a>
      </div>
    </div>
  </div>
</div>
