{% include 'app/widgets/infoBox.html.twig' %}

<div class="widget">
  <h3 class="section-title primary"><a href="{{ path('user_report') }}">Czytelnicy RAPORTują</a></h3>

  <ul class="post-list">
    {% for report in get_latest_user_reports() %}
      <li class="item">
        {% if report.imageUrl %}
          <img class="item-image" src="{{ report.imageUrl|imagine_filter('round_small_sidebar') }}" alt="">
        {% endif %}

        <div class="item-description">
          <a class="name" href="{{ path('user_report', {'_fragment': 'report-'~report.id }) }}">
            {% if report.name != '' %}
              {{ report.name }}
            {% else %}
              {{ report.content|slice(0, 50) }}...
            {% endif %}
          </a>
          <p class="date-place">{{ report.createdAt|relative_datetime }}</p>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>

<div class="widget">
  <h3 class="section-title info"><a href="">Kalendarz wydarzeń</a></h3>

  {% set time = "now"|date("U") %}
  {% set monthCalendar = get_month_calendar(time|date('Y'), time|date('m')) %}

  <table class="w-100">
    <thead>
    <tr>
      <th colspan="7" class="w-100 text-secondary pb-2">
        {{ time|date|format_datetime(pattern="LLLL yyyy") }}
      </th>
    </tr>
    <tr class="text-center">
      <th>Pn.</th>
      <th>Wt.</th>
      <th>Śr.</th>
      <th>Cz.</th>
      <th>Pt.</th>
      <th>Sb.</th>
      <th>Nd.</th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-center">
      {% set startDow = time|date('F 1 Y')|date('N') - 1 %}
      {% set dow = startDow %}
      {% set today = time|date('j') %}

      {% for day in monthCalendar %}
      {% if loop.first and startDow != 0 %}
        <td colspan="{{ startDow }}"></td>
      {% endif %}

      {% set class = '' %}

      {% if day.isHoliday %}
        {% set class = class ~ ' bg-danger text-white' %}
      {% endif %}

      {% if day.hasEvents %}
        {% set class = class ~ ' text-bg-success text-white' %}
      {% endif %}

      {% if today == day.day %}
        {% set class = class ~ ' text-bg-primary fw-medium' %}
      {% endif %}

      {% if dow == 5 and class == '' %}
        {% set class = class ~ ' text-muted' %}
      {% endif %}

      {% if dow == 6 %}
        {% set class = class ~ ' text-danger' %}
      {% endif %}

      {% set class = class ~ ' rounded-1' %}

      <td class="py-1">
        <div class="{% if dow == 5 %}text-muted{% endif %} {% if dow == 6 %}text-danger{% endif %}">
          {% if day.hasEvents %}
          <a href="{{ path('article_events_list', {date: day.date}) }}">
            {% endif %}

            <span
              class="px-2 py-1 {{ class }}"
            {% if day.title != '' %}
              data-bs-toggle="tooltip" data-bs-title="{{ day.title }}"
            {% endif %}
          >
            {{ day.day }}
          </span>

            {% if day.hasEvents %}
          </a>
          {% endif %}
        </div>
      </td>
      {% if loop.last and dow != 6 %}
        <td colspan="{{ 6 - dow }}"></td>
      {% endif %}
      {% if dow == 6 %}
      {% set dow = 0 %}
    </tr>
    <tr class="text-center">
      {% else %}
        {% set dow = dow + 1 %}
      {% endif %}
      {% endfor %}
    </tr>
    </tbody>
  </table>
</div>

<div class="widget">
  <h3 class="section-title success">Dyżurująca apteka</h3>

  <div class="card">
    {% set todayPharmacyDuty = get_today_pharmacy_duty() %}

    {% if todayPharmacyDuty %}
      <p class="fw-medium">{{ todayPharmacyDuty.name }}</p>
      <span>{{ todayPharmacyDuty.address }}</span>
    {% else %}
      <p class="m-0">Brak dyżurującej apteki</p>
    {% endif %}
  </div>
</div>

<div class="widget">
  <h3 class="section-title warning">Zdjęcie dnia</h3>

  <div class="text-center">
    <p>
      <img class="rounded-1 img-fluid" src="https://picsum.photos/300/168" alt="Opis użytkownika"/>
    </p>
    <p>Ale fajne foto! (Zbychu)</p>
  </div>
</div>

<div class="widget">
  <h3 class="section-title info">Film dnia</h3>

  <div class="text-center">
    <div class="ratio ratio-16x9">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/zqLEO5tIuYs?si=9N5vxF1IjF7Qgmqr"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        loading="lazy"></iframe>
    </div>
    <p>Ulubiony kotek! (Andrzej W.)</p>
  </div>
</div>

<div class="widget">
  <h3 class="section-title blue">Ceny paliw</h3>

  <table class="w-100">
    <thead>
    <tr>
      <th></th>
      <th class="text-center">
        <span class="bg-green text-white rounded-1 p-1">95</span>
      </th>
      <th class="text-center">
        <span class="bg-green-dark text-white rounded-1 p-1">98</span>
      </th>
      <th class="text-center">
        <span class="bg-black text-white rounded-1 p-1">ON</span>
      </th>
      <th class="text-center">
        <span class="bg-blue text-white rounded-1 p-1">LPG</span>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr class="border-bottom">
      <td class="py-2">
        <div class="d-flex flex-column">
          <strong>Stacja Pana O.</strong>
          <span class="fs-smaller">ul. Kwietnista 66</span>
        </div>
      </td>
      <td>
        <div class="d-flex flex-column align-items-center me-1">
          <strong>5.27</strong>
          <span class="fs-smaller text-muted">dziś</span>
        </div>
      </td>
      <td>
        <div class="d-flex flex-column align-items-center me-1">
          <strong>6.12</strong>
          <span class="fs-smaller text-muted">dziś</span>
        </div>
      </td>
      <td>
        <div class="d-flex flex-column align-items-center me-1">
          <strong>6.78</strong>
          <span class="fs-smaller text-muted">wczoraj</span>
        </div>
      </td>
      <td>
        <div class="d-flex flex-column align-items-center me-1">
          <strong>3.15</strong>
          <span class="fs-smaller text-muted">dziś</span>
        </div>
      </td>
    </tr>
    <tr class="border-bottom">
      <td class="py-2">
        <div class="d-flex flex-column">
          <strong>Zielony robak</strong>
          <span class="fs-smaller">ul. Jakiejś Długiej nazwy 123</span>
        </div>
      </td>
      <td>
        <div class="d-flex flex-column align-items-center">
          <strong>5.31</strong>
          <span class="fs-smaller text-muted">dziś</span>
        </div>
      </td>
      <td>
        <div class="d-flex flex-column align-items-center">
          <strong>6.06</strong>
          <span class="fs-smaller text-muted">dziś</span>
        </div>
      </td>
      <td>
        <div class="d-flex flex-column align-items-center">
          <strong title="Brak ceny" class="text-muted">?</strong>
        </div>
      </td>
      <td>
        <div class="d-flex flex-column align-items-center">
          <strong title="Brak paliwa w ofercie" class="text-muted">x</strong>
        </div>
      </td>
    </tr>
    <tr>
      <td class="py-2">
        <div class="d-flex flex-column">
          <strong>KrzysiekOil</strong>
          <span class="fs-smaller">ul. Paliwowa 1</span>
        </div>
      </td>
      <td>
        <div class="d-flex flex-column align-items-center">
          <strong>5.23</strong>
          <span class="fs-smaller text-muted">dziś</span>
        </div>
      </td>
      <td>
        <div class="d-flex flex-column align-items-center">
          <strong title="Brak ceny" class="text-muted">?</strong>
        </div>
      </td>
      <td>
        <div class="d-flex flex-column align-items-center">
          <strong title="Brak ceny" class="text-muted">?</strong>
        </div>
      </td>
      <td>
        <div class="d-flex flex-column align-items-center">
          <strong>3.27</strong>
          <span class="fs-smaller text-muted">dziś</span>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

{% set currency_rate = get_currency_rate(['USD', 'EUR', 'GBP', 'LTL', 'GBP', 'CHF']) %}

{% if currency_rate != null %}
  <div class="widget">
    <h3 class="section-title primary">Kursy walut</h3>

    <div class="row g-2 justify-content-between">
      {% for currency, rate in currency_rate %}
        <div class="col-4 col-md-12 col-xl-6 d-flex align-items-center mx-auto">
          <div class="">1 {{ currency }} =</div>
          <div class="fw-bold fs-5 ms-2">{{ rate }} zł</div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
