{% if promoItem %}
    <div class="promo-space">
      {% if promoItem.targetUrl %}
  <a href="{{ path('promo_redirect', { id: promoItem.id, redirectUrl: promoItem.encodedTargetUrl }) }}" target="_blank" rel="noopener noreferrer">
    <img class="img-fluid" src="{{ promoItem.imageUrl }}" alt="{{ promoItem.title }}" />
  </a>
{% else %}
  <img class="img-fluid" src="{{ promoItem.imageUrl }}" alt="{{ promoItem.title }}" />
{% endif %}
    </div>
{% endif %}
