<div class="widget">
  <h3 class="section-title info"><a href="{{ path('article_events_list') }}">Kalendarz wydarzeń</a></h3>

  {% set time = "now"|date("U") %}
  {% set monthCalendar = get_month_calendar(time|date('Y'), time|date('m')) %}

  <table class="w-100">
    <thead>
    <tr>
      <th colspan="7" class="w-100 text-secondary pb-2">
        {{ time|date|format_datetime(pattern="LLLL yyyy") }}
      </th>
    </tr>
    <tr class="text-center">
      <th>Pn.</th>
      <th>Wt.</th>
      <th>Śr.</th>
      <th>Cz.</th>
      <th>Pt.</th>
      <th>Sb.</th>
      <th>Nd.</th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-center">
      {% set startDow = time|date('F 1 Y')|date('N') - 1 %}
      {% set dow = startDow %}
      {% set today = time|date('j') %}

      {% for day in monthCalendar %}
      {% if loop.first and startDow != 0 %}
        <td colspan="{{ startDow }}"></td>
      {% endif %}

      {% set class = '' %}

      {% if day.isHoliday %}
        {% set class = class ~ ' bg-danger text-white' %}
      {% endif %}

      {% if day.hasEvents %}
        {% set class = class ~ ' text-bg-success text-white' %}
      {% endif %}

      {% if today == day.day %}
        {% set class = class ~ ' text-bg-primary fw-medium' %}
      {% endif %}

      {% if dow == 5 and class == '' %}
        {% set class = class ~ ' text-muted' %}
      {% endif %}

      {% if dow == 6 %}
        {% set class = class ~ ' text-danger' %}
      {% endif %}

      {% set class = class ~ ' rounded-1' %}

      <td class="py-1">
        <div class="{% if dow == 5 %}text-muted{% endif %} {% if dow == 6 %}text-danger{% endif %}">
          {% if day.hasEvents %}
          <a href="{{ path('article_events_list_date', {date: day.date}) }}">
            {% endif %}

            <span
              class="px-2 py-1 {{ class }}"
            {% if day.title != '' %}
              data-bs-toggle="tooltip" data-bs-title="{{ day.title }}"
            {% endif %}
          >
            {{ day.day }}
          </span>

            {% if day.hasEvents %}
          </a>
          {% endif %}
        </div>
      </td>
      {% if loop.last and dow != 6 %}
        <td colspan="{{ 6 - dow }}"></td>
      {% endif %}
      {% if dow == 6 %}
      {% set dow = 0 %}
    </tr>
    <tr class="text-center">
      {% else %}
        {% set dow = dow + 1 %}
      {% endif %}
      {% endfor %}
    </tr>
    </tbody>
  </table>
</div>
