<div class="top-bar card mb-4 text-secondary">
  <div class="d-flex flex-column gap-2 align-items-center">
    {% set weather = get_current_weather() %}

    {% if weather != null %}
      <div class="border-bottom pb-2">
        <div class="d-flex flex-row gap-2 gap-lg-4">
          <div>
            <span class="d-block text-uppercase text-center fs-smaller">Dziś</span>

            <div class="d-flex align-items-center" title="{{ weather.tomorrow.description }}">
              <img
                src="{{ asset('build/images/icons/weather-'~weather.today.icon~'.svg') }}"
                width="44"
                alt="Ikona ukazująca dzisiejszą pogodę"
              />
              <div class="d-flex flex-column ms-1">
                <strong class="text-body fs-5">{{ weather.today.temperature }}°C</strong>
                <span class="fs-smaller">{{ weather.today.pressure }} hPa</span>
              </div>
            </div>
          </div>

          <div>
            <span class="d-block text-uppercase text-center fs-smaller">Jutro</span>

            <div class="d-flex align-items-center" title="{{ weather.tomorrow.description }}">
              <img
                src="{{ asset('build/images/icons/weather-'~weather.tomorrow.icon~'.svg') }}"
                width="32"
                alt="Ikona ukazująca jutrzejszą pogodę"
              />
              <div class="d-flex flex-column ms-1">
                <strong class="text-body">{{ weather.tomorrow.temperature }}°C</strong>
                <span class="fs-smaller">{{ weather.tomorrow.pressure }} hPa</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <div class="border-bottom pb-2 text-center">
      <p class="m-0 fw-bold fs-6">{{ date('')|format_datetime(pattern='eeee, d MMMM y')|capitalize }}</p>
      <p class="m-0 fs-smaller"><small>Imieniny</small> <strong>{{ get_current_day_names() }}</strong></p>
    </div>

    <div class="d-flex align-items-center">
      <div class="me-1 fs-smaller">Najbliższa niedziela</div>
      {% if get_setting('nextSundayIsShopping') == 'true' %}
        <div title="Handlowa">
          <img
            src="{{ asset('build/images/icons/shopping-cart.svg') }}"
            width="20"
            alt="Ikona koszyka"
          />
        </div>
      {% else %}
        <div title="Niehandlowa">
          <img
            src="{{ asset('build/images/icons/shopping-cart-off.svg') }}"
            width="20"
            alt="Ikona przekreślonego koszyka"
          />
        </div>
      {% endif %}
    </div>

    {% set airQuality = get_current_air_quality_level() %}

    {% if airQuality != null %}
      <div class="d-flex align-items-center">
        <span class="me-1 fs-smaller">Jakość powietrza</span>
        <span title="{{ airQuality[0] }}">
        <img
          src="{{ asset('build/images/icons/air-quality-'~airQuality[1]~'.svg') }}"
          width="20"
          alt="Ikona jakości powietrza"
        />
      </span>
      </div>
    {% endif %}
  </div>
</div>
