{% extends 'panel/layout/base.html.twig' %}

{% block title %}Lista stron statycznych{% endblock %}

{% block body %}
  <div class="page-body">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <h1 class="col card-title fw-bold">Strony statyczne</h1>

          <a href="{{ path('panel_static_page_create') }}" class="col-auto btn btn-primary">
            <i class="ti ti-plus me-1"></i> Dodaj stronę statyczną
          </a>
        </div>

        <div class="card-body border-bottom py-3">
          <form class="d-flex flex-column flex-md-row list-form" method="get">
            <input type="hidden" name="page" value="{{ app.request.get('page')|default(1) }}"/>

            <div class="text-secondary">
              Pokaż
              <div class="mx-2 d-inline-block">
                <input type="number" name="number" class="form-control form-control-sm"
                       value="{{ app.request.get('number')|default('15') }}" min="1" max="1000">
              </div>
              stron
            </div>

            <div class="mt-3 mt-md-0 ms-md-auto text-secondary">
              Szukaj:
              <div class="ms-2 d-inline-block">
                <input type="text" name="search_query" value="{{ app.request.get('search_query') }}"
                       class="form-control form-control-sm">
              </div>
            </div>

            <div class="mt-3 mt-md-0">
              <div class="ms-2 d-inline-block">
                <button type="reset" class="btn btn-icon btn-sm btn-outline-muted reset-filter" data-bs-toggle="tooltip"
                        data-bs-title="Resetuj filtry">
                  <i class="ti ti-eraser"></i>
                </button>
              </div>
            </div>
          </form>
        </div>

        <div class="table-responsive">
          <table class="table card-table table-vcenter table-striped table-hover datatable">
            <thead>
            <tr>
              <th class="w-1">ID</th>
              <th>Tytuł</th>
              <th>Slug</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            {% for staticPage in staticPages %}
              <tr>
                <td>{{ staticPage.id }}</td>
                <td class="text-truncate">{{ staticPage.title }}</td>
                <td class="text-truncate">{{ staticPage.slug }}</td>
                <td>
                  <div class="btn-list justify-content-end">
                    <a href="{{ path('panel_static_page_edit', {'id': staticPage.id}) }}"
                       class="btn text-muted btn-icon">
                      <i class="ti ti-edit-circle"></i>
                    </a>

                    <a href="{{ path('panel_static_page_delete', {'id': staticPage.id}) }}"
                       class="btn btn-danger btn-icon js-confirm">
                      <i class="ti ti-trash"></i>
                    </a>
                  </div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="card-footer d-flex align-items-center">
          <p class="m-0 text-secondary">Pokazane <span>{{ paginator.currentPageFirstItem }}</span> do
            <span>{{ paginator.currentPageLastItem }}</span> z <span>{{ paginator.totalItems }}</span> stron</p>

          <div class="m-0 ms-auto">
            {{ paginator.toHtml|raw }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
