{% extends 'app/layout/base.html.twig' %}

{% block title %}
  Ogłoszenia
  {% if currentCategory %} w kategorii {{ categories|filter(category => category.slug == currentCategory)|first.name }}
  {%- endif -%}
  - {{ app_name }}
{% endblock %}

{% block topContent %}
  <nav class="mb-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Strona główna</a></li>

      {% if currentCategory == null %}
        <li class="breadcrumb-item active">Ogłoszenia</li>
      {% else %}
        <li class="breadcrumb-item"><a href="{{ path('advertisement_list') }}">Ogłoszenia</a></li>
        <li class="breadcrumb-item active">{{ categories|filter(category => category.slug == currentCategory)|first.name }}</li>
      {% endif %}
    </ol>
  </nav>
{% endblock %}

{% block body %}
  <div class="card mb-3">
    <div class="row">
      <div class="col-12 col-lg-8">
        <h1 class="fs-5 fw-bold">Katalog ogłoszeń</h1>
        <p class="text-secondary">Dodaj swoje ogłoszenie za darmo. Wystarczy, że wypełnisz krótki formularz.</p>
      </div>
      <div class="col-12 col-lg-auto ms-auto d-flex align-items-center justify-content-end">
        <a href="{{ path('advertisement_add') }}" class="btn btn-primary fw-medium w-100 mt-3 m-lg-0">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="pe-none"
               viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
               stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M12 5l0 14"/>
            <path d="M5 12l14 0"/>
          </svg>
          Dodaj ogłoszenie
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      {% for type, messages in app.flashes() %}
        {% for message in messages %}
          <div class="alert alert-{{ type }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endfor %}
    </div>

    <div class="col-12 col-lg-4 col-xl-3 mb-3">
      <div class="list-group">
        <a href="{{ path('advertisement_list') }}"
           class="list-group-item list-group-item-action d-flex align-items-center gap-2 {{ currentCategory is null ? 'active' }}">
          Wszystkie kategorie
        </a>
        {% for category in categories %}
          <a href="{{ path('advertisement_list', {category: category.slug}) }}"
             class="list-group-item list-group-item-action {{ currentCategory == category.slug ? 'active' }}">
            {{ category.name }}
          </a>
        {% endfor %}
      </div>
    </div>

    <div class="col-12 col-lg-8 col-xl-9">
      {% for advertisement in promotedAdvertisements %}
        <div class="card mb-3 border-warning shadow-sm" style="border-width: 1px;">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-start mb-2">
                <h3 class="fs-6 fw-bold mb-0">{{ advertisement.title }}</h3>
                <span class="badge bg-warning text-dark">Promowane</span>
            </div>
            <p class="mb-3">{{ advertisement.content }}</p>

            <div class="row g-2 text-muted">
              <div class="col-12">
                <div class="d-flex flex-wrap gap-3">
                  {% if advertisement.phone %}
                    <div>
                      <small class="d-block">Telefon:</small>
                      <strong class="text-secondary">{{ advertisement.phone }}</strong>
                    </div>
                  {% endif %}
                  {% if advertisement.email %}
                    <div>
                      <small class="d-block">Email:</small>
                      <strong class="text-secondary">{{ advertisement.email }}</strong>
                    </div>
                  {% endif %}
                </div>
                <div class="d-flex flex-wrap gap-3 mt-2">
                  <div>
                    <small class="d-block">Autor:</small>
                    <strong class="text-secondary">{{ advertisement.author }}</strong>
                  </div>
                  {% if currentCategory == null %}
                  <div>
                    <small class="d-block">Kategoria:</small>
                    <strong class="text-secondary">{{ advertisement.category ? advertisement.category.name : 'Brak kategorii' }}</strong>
                  </div>
                  {% endif %}
                  <div class="ms-auto text-sm-end">
                    <small class="d-block">Data dodania:</small>
                    <strong class="text-secondary">{{ advertisement.createdAt|date|format_datetime(pattern=app_datetime_short_format) }}</strong>
                  </div>
                </div>
              </div>
            </div>

            {% if is_granted('ROLE_ADMIN') %}
              <div class="d-flex justify-content-end align-items-center mt-4 pt-3 border-top">
                <div class="me-auto text-muted fs-smaller">
                  Adres IP czytelnika: <strong>{{ advertisement.ipAddress }}</strong>
                </div>

                <a href="{{ path('panel_advertisement_toggle_promoted', {'advertisementId': advertisement.id}) }}" 
                   class="btn btn-sm btn-outline-warning me-2" 
                   data-method="post"
                   >
                    Wyłącz promowanie
                </a>

                <a href="{{ path('panel_advertisement_remove', {'advertisementId': advertisement.id}) }}"
                   class="btn btn-sm btn-danger text-white js-confirm"
                   data-method="post"
                   >
                  Usuń ogłoszenie
                </a>
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}

      {% for advertisement in advertisements %}
        <div class="card mb-3">
          <div class="card-body">
            <h3 class="fs-6 fw-bold mb-2">{{ advertisement.title }}</h3>
            <p class="mb-3">{{ advertisement.content }}</p>

            <div class="row g-2 text-muted">
              <div class="col-12">
                <div class="d-flex flex-wrap gap-3">
                  {% if advertisement.phone %}
                    <div>
                      <small class="d-block">Telefon:</small>
                      <strong class="text-secondary">{{ advertisement.phone }}</strong>
                    </div>
                  {% endif %}
                  {% if advertisement.email %}
                    <div>
                      <small class="d-block">Email:</small>
                      <strong class="text-secondary">{{ advertisement.email }}</strong>
                    </div>
                  {% endif %}
                </div>
                <div class="d-flex flex-wrap gap-3 mt-2">
                  <div>
                    <small class="d-block">Autor:</small>
                    <strong class="text-secondary">{{ advertisement.author }}</strong>
                  </div>
                  {% if currentCategory == null %}
                  <div>
                    <small class="d-block">Kategoria:</small>
                    <strong class="text-secondary">{{ advertisement.category ? advertisement.category.name : 'Brak kategorii' }}</strong>
                  </div>
                  {% endif %}
                  <div class="ms-auto text-sm-end">
                    <small class="d-block">Data dodania:</small>
                    <strong class="text-secondary">{{ advertisement.createdAt|date|format_datetime(pattern=app_datetime_short_format) }}</strong>
                  </div>
                </div>
              </div>
            </div>

            {% if is_granted('ROLE_ADMIN') %}
              <div class="d-flex justify-content-end align-items-center mt-4 pt-3 border-top">
                <div class="me-auto text-muted fs-smaller">
                  Adres IP czytelnika: <strong>{{ advertisement.ipAddress }}</strong>
                </div>

                <a href="{{ path('panel_advertisement_remove', {'advertisementId': advertisement.id}) }}"
                   class="btn btn-sm btn-danger text-white js-confirm"
                   data-method="post"
                   >
                  Usuń ogłoszenie
                </a>
              </div>
            {% endif %}
          </div>
        </div>
      {% else %}
        <div class="card mb-3">Brak ogłoszeń w wybranej kategorii</div>
      {% endfor %}

      <nav>
        {{ paginator.toHtml|raw }}
      </nav>
    </div>
  </div>
{% endblock %}
