{% extends 'panel/layout/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
  <div class="page-body">
    <div class="container-fluid">
      <div class="row row-deck row-cards">
        <div class="col-12">
          <div class="row row-cards">
            <div class="col-12 col-md-6">
              <div class="card">
                <form action="{{ path('panel_dashboard_save_pharmacy_duty') }}" method="post">
                  <div class="card-header">
                    <h3 class="card-title">Dyżury aptek</h3>
                  </div>

                  <div class="list-group list-group-flush list-group-hoverable">
                    {% if pharmacyDuties %}
                      {% for duty in pharmacyDuties %}
                        <div class="list-group-item">
                          <div class="d-flex flex-column">
                            <div class="mb-2">
                              <strong>{{ daysOfWeek[loop.index0] }}</strong>
                            </div>

                            <div class="row g-3">
                              <div class="col-12 col-md-4">
                                <input
                                  type="text"
                                  class="form-control"
                                  name="pharmacyDuty[{{ loop.index0 }}][name]"
                                  placeholder="Nazwa"
                                  value="{{ duty.name }}"
                                />
                              </div>

                              <div class="col-12 col-md-8">
                                <input
                                  type="text"
                                  class="form-control"
                                  name="pharmacyDuty[{{ loop.index0 }}][address]"
                                  placeholder="Adres"
                                  value="{{ duty.address }}"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    {% else %}
                      {% for i in range(0, 6) %}
                        <div class="list-group-item">
                          <div class="d-flex flex-column">
                            <div class="mb-2">
                              <strong>{{ daysOfWeek[i] }}</strong>
                            </div>

                            <div class="row g-3">
                              <div class="col-12 col-md-4">
                                <input
                                  type="text"
                                  class="form-control"
                                  name="pharmacyDuty[{{ i }}][name]"
                                  placeholder="Nazwa"
                                />
                              </div>

                              <div class="col-12 col-md-8">
                                <input
                                  type="text"
                                  class="form-control"
                                  name="pharmacyDuty[{{ i }}][address]"
                                  placeholder="Adres"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    {% endif %}
                  </div>

                  <div class="card-footer">
                    <div class="d-flex">
                      <button type="submit" class="btn btn-primary ms-auto">Zapisz zmiany</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="row g-3">
                <div class="col-12">
                  <div class="card card-sm">
                    <div class="card-header">
                      <h3 class="card-title">Akceptacja firm</h3>
                    </div>

                    <div
                      class="list-group list-group-flush list-group-hoverable overflow-auto"
                      style="max-height: 240px"
                    >
                      {% if companies is empty %}
                        <div class="d-flex justify-content-center">
                          <div class="py-3">Brak firm do akceptacji</div>
                        </div>
                      {% endif %}

                      {% for company in companies %}
                        <div class="list-group-item">
                          <div class="row align-items-center">
                            <div class="col-auto">
                              {% if company.logo %}
                                <img
                                  class="rounded"
                                  src="{{ company.logo }}"
                                  width="48"
                                  height="48"
                                  style="object-fit: cover;"
                                />
                              {% else %}
                                <span class="avatar">{{ company.name|first }}</span>
                              {% endif %}
                            </div>

                            <div class="col">
                              <div class="fw-bold text-body d-block">{{ company.name }}</div>
                              <div class="text-muted text-truncate mt-1">{{ company.description }}</div>
                              <div class="text-muted small mt-1">
                                Kategoria: <strong>{{ company.category.name }}</strong> | Data: <strong>{{ company.createdAt|date('d.m.Y H:i') }}</strong>
                              </div>
                            </div>

                            <div class="col-auto ms-auto">
                              <a
                                href="{{ path('panel_dashboard_publish_company', {'companyId': company.id}) }}"
                                class="btn btn-success btn-icon"
                                data-bs-toggle="tooltip"
                                data-bs-title="Opublikuj"
                              >
                                <i class="ti ti-check"></i>
                              </a>
                              <a
                                href="{{ path('panel_dashboard_remove_company', {'companyId': company.id}) }}"
                                class="btn btn-danger btn-icon js-confirm"
                                data-bs-toggle="tooltip"
                                data-bs-title="Usuń"
                              >
                                <i class="ti ti-trash"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>


                <div class="col-12">
                  <div class="card card-sm">
                    <div class="card-header">
                      <h3 class="card-title">Akceptacja ogłoszeń</h3>
                    </div>

                    <div
                      class="list-group list-group-flush list-group-hoverable overflow-auto"
                      style="max-height: 240px"
                    >
                      {% if advertisements is empty %}
                        <div class="d-flex justify-content-center">
                          <div class="py-3">Brak ogłoszeń do akceptacji</div>
                        </div>
                      {% endif %}

                      {% for advertisement in advertisements %}
                        <div class="list-group-item">
                          <div class="row align-items-center">
                            <div class="col">
                              <a href="{{ path('panel_advertisement_edit', {'advertisementId': advertisement.id}) }}" class="fw-bold text-body d-block">{{ advertisement.title }}</a>
                              <div class="text-muted text-truncate mt-1">{{ advertisement.content }}</div>
                              <div class="text-muted small mt-1">
                                Autor: <strong>{{ advertisement.author }}</strong> | Data: <strong>{{ advertisement.createdAt|date('d.m.Y H:i') }}</strong> | IP: <strong>{{ advertisement.ipAddress|default('---') }}</strong>
                              </div>
                            </div>
                            
                            <div class="col-auto ms-auto">
                              <a
                                href="{{ path('panel_dashboard_publish_advertisement', {'advertisementId': advertisement.id}) }}"
                                class="btn btn-success btn-icon"
                                data-bs-toggle="tooltip"
                                data-bs-title="Opublikuj"
                              >
                                <i class="ti ti-check"></i>
                              </a>
                              <a
                                href="{{ path('panel_advertisement_remove', {'advertisementId': advertisement.id}) }}"
                                class="btn btn-danger btn-icon js-confirm"
                                data-bs-toggle="tooltip"
                                data-bs-title="Usuń"
                              >
                                <i class="ti ti-trash"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="card card-sm">
                    <div class="card-header">
                      <h3 class="card-title">Akceptacja treści użytkowników</h3>
                    </div>

                    <div
                      class="list-group list-group-flush list-group-hoverable overflow-auto"
                      style="max-height: 240px"
                    >
                      {% if dailyImages is empty and dailyVideos is empty %}
                        <div class="d-flex justify-content-center">
                          <div class="py-3">Brak treści do akceptacji</div>
                        </div>
                      {% endif %}

                      {% for image in dailyImages %}
                        <div class="list-group-item">
                          <div class="row align-items-center">
                            <div class="col-auto">
                              <a data-fslightbox="gallery" href="{{ image.imageUrl }}">
                                <img
                                  class="rounded"
                                  src="{{ image.imageUrl|imagine_filter('round_small') }}"
                                  width="48"
                                />
                              </a>
                            </div>

                            <div class="col-auto">
                              <div>
                                Autor: <strong>{{ image.author|default('---') }}</strong>
                              </div>
                              <div>
                                Podpis: <strong>{{ image.caption|default('---') }}</strong>
                              </div>
                              <div>
                                Data: <strong>{{ image.createdAt|format_datetime(pattern='d MMMM') }}</strong>
                              </div>
                              <div>
                                IP: <strong>{{ image.ipAddress|default('---') }}</strong>
                              </div>
                            </div>

                            <div class="col-auto ms-auto">
                              <a
                                href="{{ path('panel_dashboard_publish_daily_image', {imageId: image.id}) }}"
                                class="btn btn-success btn-icon"
                                data-bs-toggle="tooltip"
                                data-bs-title="Opublikuj"
                              >
                                <i class="ti ti-circle-check-filled"></i>
                              </a>
                              <a
                                href="{{ path('panel_dashboard_remove_daily_image', {imageId: image.id}) }}"
                                class="btn btn-danger btn-icon js-confirm"
                                data-bs-toggle="tooltip"
                                data-bs-title="Usuń"
                              >
                                <i class="ti ti-trash"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      {% endfor %}

                      {% for video in dailyVideos %}
                        <div class="list-group-item">
                          <div class="row align-items-center">
                            <div class="col-auto">
                              <a
                                data-fslightbox="gallery"
                                class="btn btn-lg btn-icon btn-outline-danger"
                                href="{{ video.videoUrl }}"
                              >
                                <i class="ti ti-brand-youtube"></i>
                              </a>
                            </div>

                            <div class="col-auto">
                              <div>
                                Autor: <strong>{{ video.author|default('---') }}</strong>
                              </div>
                              <div>
                                Podpis: <strong>{{ video.caption|default('---') }}</strong>
                              </div>
                              <div>
                                Data: <strong>{{ video.createdAt|format_datetime(pattern='d MMMM') }}</strong>
                              </div>
                              <div>
                                IP: <strong>{{ video.ipAddress|default('---') }}</strong>
                              </div>
                            </div>

                            <div class="col-auto ms-auto">
                              <a
                                href="{{ path('panel_dashboard_publish_daily_video', {videoId: video.id}) }}"
                                class="btn btn-success btn-icon"
                                data-bs-toggle="tooltip"
                                data-bs-title="Opublikuj"
                              >
                                <i class="ti ti-circle-check-filled"></i>
                              </a>
                              <a
                                href="{{ path('panel_dashboard_remove_daily_video', {videoId: video.id}) }}"
                                class="btn btn-danger btn-icon js-confirm"
                                data-bs-toggle="tooltip"
                                data-bs-title="Usuń"
                              >
                                <i class="ti ti-trash"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="card card-sm">
                    <div class="card-header">
                      <h3 class="card-title">Akceptacja cen paliw użytkowników</h3>
                    </div>

                    <div
                      class="list-group list-group-flush list-group-hoverable overflow-auto"
                      style="max-height: 240px"
                    >
                      {% if gasStationPrices is empty %}
                        <div class="d-flex justify-content-center">
                          <div class="py-3">Brak cen paliw do akceptacji</div>
                        </div>
                      {% endif %}

                      {% for gasPrice in gasStationPrices %}
                        <div class="list-group-item">
                          <div class="row align-items-center">
                            <div class="col-auto">
                              <div class="fw-bold">{{ gasPrice.station.name }}</div>
                              <div>{{ gasPrice.station.address }}</div>
                            </div>

                            <div class="col-auto text-center">
                              <strong class="fw-bold fs-3">
                                {{ gasPrice.price|number_format(2, ',', ' ') }}
                              </strong> zł
                            </div>

                            <div class="col-auto text-muted">
                              <div class="badge badge-outline fw-bold">
                                {{ get_gas_station_fuel_types()[gasPrice.type] }}
                              </div>
                            </div>

                            <div class="col-auto text-muted">
                              Cena z dnia: <strong>{{ gasPrice.date|format_datetime(pattern='d MMMM') }}</strong>
                              <br>
                              IP: <strong>{{ gasPrice.ipAddress|default('---') }}</strong>
                            </div>

                            <div class="col-auto ms-auto">
                              <a
                                href="{{ path('panel_dashboard_publish_user_gas_station_price', {gasStationPriceId: gasPrice.id}) }}"
                                class="btn btn-success btn-icon"
                                data-bs-toggle="tooltip"
                                data-bs-title="Opublikuj"
                              >
                                <i class="ti ti-circle-check-filled"></i>
                              </a>
                              <a
                                href="{{ path('panel_dashboard_remove_user_gas_station_price', {gasStationPriceId: gasPrice.id}) }}"
                                class="btn btn-danger btn-icon js-confirm"
                                data-bs-toggle="tooltip"
                                data-bs-title="Usuń"
                              >
                                <i class="ti ti-trash"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Niedziela handlowa</h3>
                    </div>

                    <div class="card-body">
                      <form
                        action="{{ path('panel_dashboard_save_next_sunday_is_shopping') }}"
                        method="post"
                        id="next-sunday-form"
                      >
                        <label class="row align-items-center">
                          <div class="col {% if nextSundayIsShopping != true %}text-muted{% endif %}">
                            <strong>{{ nextSunday|date|format_datetime(pattern='d MMMM') }}</strong> jest niedzielą
                            handlową
                          </div>

                          <div class="col-auto">
                            <label class="form-check form-check-single form-switch">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                name="nextSundayIsShopping"
                                {% if nextSundayIsShopping %}checked{% endif %}
                              />
                            </label>
                          </div>
                        </label>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
      const nextSundayForm = document.getElementById('next-sunday-form')
      const checkbox = nextSundayForm.querySelector('input[type="checkbox"]')

      checkbox.addEventListener('change', function () {
        nextSundayForm.submit()
      })
    })
  </script>
{% endblock %}
