{% extends 'app/layout/base.html.twig' %}

{% block topContent %}
  <nav class="mb-2 border-left border-danger-subtle border-2">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
      <li class="breadcrumb-item active">{{ category.name }}</li>
    </ol>
  </nav>
{% endblock %}

{% block body %}
  <div class="widget mt-1">
    <h1 class="section-title primary">{{ category.name }}</h1>

    {% for article in articles %}
      <div class="list-news d-flex flex-column flex-sm-row gap-3">
        <div class="">
          <img class="rounded-1 w-auto"
               alt="Miniaturka zdjęcia do artykułu"
               src="{{ article.imageUrl|default('/build/images/empty-photo.png')|imagine_filter('article_list_image') }}"
               loading="lazy"
          />
        </div>

        <div class="w-100">
          <h2 class="fs-5 mb-1">
            <a
              href="{{ path('article_details', {
                '__category': category.slug,
                'id': article.id,
                'slug': article.name|lower|slug
              }) }}"
            >
              {{ article.name }}
            </a>
          </h2>

          <div class="meta d-flex justify-content-between gap-2">
            <div class="date me-auto">
              {{ article.createdAt|date|format_datetime(pattern=app_datetime_format) }}

              {% if article.createdAt != article.updatedAt %}
                <span>
                  (ostatnia aktualizacja: <strong>{{ article.updatedAt|date|format_datetime(pattern=app_datetime_format) }})</strong>
                </span>
              {% endif %}
            </div>

            <div class="d-flex align-items-center">
              <img src="{{ asset('build/images/icons/eye.svg') }}" alt="Ikona oka" class="me-1"/>
              {{ article.viewsNumber }}
            </div>

            <div class="d-flex align-items-center">
              <img src="{{ asset('build/images/icons/message.svg') }}" alt="Ikona chmurki" class="me-1"/>
              {{ article.commentsNumber }}
            </div>
          </div>

          <p>
            {{ article.excerpt }}
          </p>
        </div>
      </div>
    {% endfor %}
  </div>

  <nav>
    {{ paginator.toHtml|raw }}
  </nav>
{% endblock %}
