{% extends 'app/layout/base.html.twig' %}

{% block title %}Galerie zdjęć - {{ app_name }}{% endblock %}

{% block topContent %}
  <nav class="mb-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Strona główna</a></li>
      <li class="breadcrumb-item active">Galerie zdjęć</li>
    </ol>
  </nav>
{% endblock %}

{% block body %}
  <div class="row g-4 mb-5">
    {% for gallery in galleries %}
      <div class="col-6 col-md-6 col-lg-3">
        <div class="card h-100 shadow-sm">
          {% if gallery.galleryImages|first %}
            <a href="{{ path('gallery_details', {'id': gallery.id}) }}">
              <img
                src="{{ gallery.galleryImages|first.imageUrl|imagine_filter('article_gallery_image') }}"
                alt="{{ gallery.name }}"
                class="img-fluid rounded w-100"
                style="aspect-ratio: 16/9; object-fit: cover;"
              />
            </a>
          {% endif %}

          <div class="card-body d-flex flex-column">
            <a href="{{ path('gallery_details', {'id': gallery.id}) }}" class="my-2 fw-medium">{{ gallery.name }}</a>

            <div class="">
              <div class="d-flex flex-column justify-content-between align-items-center text-muted">
                <div class="mb-2">
                  <small class="d-flex align-items-center">
                    <img src="{{ asset('build/images/icons/photo.svg') }}" alt="Ikona zdjęcia" width="16" height="16"
                         class="me-1"/>
                    {{ gallery.galleryImages|length }} zdjęć
                  </small>
                </div>
                <div>
                  <small class="d-flex align-items-center">
                    <img src="{{ asset('build/images/icons/calendar.svg') }}" alt="Ikona kalendarza" width="16"
                         height="16" class="me-1"/>
                    {{ gallery.createdAt|date|format_datetime(pattern=app_datetime_short_format) }}
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            Brak galerii do wyświetlenia
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
