{% extends 'panel/layout/base.html.twig' %}

{% block title %}Edycja artykułu{% endblock %}

{% block body %}
  <div class="page-body">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <h1 class="col card-title fw-bold">Edycja artykułu</h1>

          <a href="{{ path('panel_article_list') }}" class="col-auto btn btn-outline-secondary">
            <i class="ti ti-arrow-back me-1"></i> Powrót do listy
          </a>
        </div>

        {{ form_start(form) }}
        <div class="card-body py-3">
          <div class="row">
            <div class="col-lg-8">
              <fieldset class="form-fieldset">
                <div class="row">
                  {{ form_row(form.name, {attr: { class: 'form-control form-control-lg'}}) }}

                  {{ form_row(form.category, {attr: { class: 'form-select'}}) }}

                  {{ form_row(form.isEvent, {attr: {class: 'form-check form-switch', id: 'is-event-switcher'}}) }}

                  <div class="mb-4 {{ app.request.get('is-event')|default(form.isEvent) == 'on' ? '' : 'd-none' }} row"
                       id="event-details-wrapper">
                    <div class="col-6 col-md-4">
                      <label class="w-100">
                        <span class="form-label">{{ field_label(form.eventDate) }}</span>
                        <input
                          type="date"
                          class="form-control"
                          name="{{ field_name(form.eventDate) }}"
                          value="{{ field_value(form.eventDate) }}"
                        />
                      </label>
                    </div>

                    <div class="col-6 col-md-3">
                      <label class="w-100">
                        <span class="form-label">{{ field_label(form.eventTime) }}</span>
                        <input
                          type="time"
                          class="form-control"
                          name="{{ field_name(form.eventTime) }}"
                          value="{{ field_value(form.eventTime) }}"
                        />
                      </label>
                    </div>

                    <div class="col-12 col-md-5 mt-3 mt-md-0">
                      <label class="w-100">
                        <span class="form-label">{{ field_label(form.eventPlace) }}</span>

                        <div class="input-icon">
                          <input
                            type="text"
                            class="form-control w-100"
                            name="{{ field_name(form.eventPlace) }}"
                            value="{{ field_value(form.eventPlace) }}"
                          />
                          <span class="input-icon-addon">
                              <i class="ti ti-map-pin"></i>
                            </span>
                        </div>
                      </label>
                    </div>
                  </div>

                  {{ form_row(form.hasCommentsDisabled, {attr: {class: 'form-check form-switch'}}) }}

                  {{ form_row(form.excerpt, {attr: {class: 'form-control'}}) }}

                  {{ form_row(form.content, {attr: {class: 'form-control', rows: 10}}) }}
                </div>
              </fieldset>
            </div>

            <div class="col-lg-4">
              <fieldset class="form-fieldset">
                <label class="form-label" for="main-image-input">Zdjęcie główne</label>

                <div class="d-flex align-items-center justify-content-center mb-2">
                    <img
                      src="{% if article.imageUrl %}{{ article.imageUrl }}{% endif %}"
                      id="main-image-preview"
                      class="rounded-2 {% if article.imageUrl == null %}d-none{% endif %}"
                      height="150"
                    />

                  <button type="button" class="btn btn-outline-danger ms-auto {% if article.imageUrl == null %}d-none{% endif %}" id="main-image-remove">
                    <i class="ti ti-trash me-1"></i> Usuń
                  </button>
                </div>

                <input
                  type="file"
                  name="{{ field_name(form.imageUrl) }}"
                  value="{{ field_value(form.imageUrl) }}"
                  class="form-control {% if article.imageUrl %}d-none{% endif %}"
                  accept="image/jpeg, image/png, image/gif"
                  id="main-image-input"
                />

                {% if field_errors(form.imageUrl) %}
                  {{ form_errors(form.imageUrl) }}
                {% endif %}

                {{ form_row(form.imageCaption, {attr: { class: 'form-control'}, row_attr: { class: 'mt-3 mb-0' }}) }}
              </fieldset>

              <fieldset class="form-fieldset">
                <div class="form-label">
                  Galeria artykułu

                  <div class="text-muted mt-1">
                    > To se będzie kiedyś działać 😝
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>

        <div class="card-footer text-end">
          <div class="d-flex">
            <button type="submit" class="btn btn-primary ms-auto">
              <i class="ti ti-check me-1"></i> Zapisz artykuł
            </button>
          </div>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('article_add') }}"/>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  <script type="application/javascript">
    addEventListener('DOMContentLoaded', () => {
      // thumbnail preview
      const imageInput = document.getElementById('main-image-input')
      const imagePreview = document.getElementById('main-image-preview')
      const imageRemove = document.getElementById('main-image-remove')

      imageInput.addEventListener('change', event => {
        if (event.target.files.length > 0) {
          imagePreview.src = URL.createObjectURL(
            event.target.files[0],
          )

          imagePreview.classList.remove('d-none')
          imagePreview.classList.add('d-block')
          imageRemove.classList.remove('d-none')
        }
      })

      // image remove
      imageRemove.addEventListener('click', () => {
        imageInput.value = ''
        imageInput.classList.remove('d-none')
        imagePreview.src = ''
        imagePreview.classList.remove('d-block')
        imagePreview.classList.add('d-none')
        imageRemove.classList.add('d-none')
      })

      // is event switcher
      document.getElementById('article_edit_isEvent').addEventListener('change', event => {
        if (event.target.checked) {
          document.getElementById('event-details-wrapper').classList.remove('d-none')
        } else {
          document.getElementById('event-details-wrapper').classList.add('d-none')
        }
      })
    })
  </script>
{% endblock %}
