{% extends 'layout/base.html.twig' %}

{% block topContent %}
  <nav class="mb-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
      <li class="breadcrumb-item"><a
          href="{{ path('article_category', { '__category': category.slug }) }}">{{ category.name }}</a></li>
      <li class="breadcrumb-item active">{{ article.name }}</li>
    </ol>
  </nav>
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-12">
      <div class="big-news">
        {% if article.imageUrl %}
          <img
            class="rounded-1 img-fluid mb-3 w-100"
            src="{{ article.imageUrl|imagine_filter('article_main_image') }}"
            alt="Opis użytkownika"
            fetchpriority="high"
          />
        {% endif %}

        <h1 class="fs-2 mb-2">
          {{ article.name }}
        </h1>

        <div class="meta d-flex justify-content-between mb-4 gap-3">
          <div class="date me-auto">
            {{ article.createdAt|date|format_datetime(pattern=app_datetime_format) }}

            {% if article.createdAt != article.updatedAt %}
              <span>
                (ostatnia aktualizacja: <strong>{{ article.updatedAt|date|format_datetime(pattern=app_datetime_format) }})</strong>
              </span>
            {% endif %}
          </div>

          <div class="d-flex align-items-center">
            <img src="{{ asset('build/images/icons/eye.svg') }}" alt="Ikona oka" class="me-1"/>
            {{ article.viewsNumber + 1 }}
          </div>

          <div class="d-flex align-items-center">
            <img src="{{ asset('build/images/icons/message.svg') }}" alt="Ikona chmurki" class="me-1"/>
            {{ article.comments.count }}
          </div>
        </div>

        <div class="content">
          {{ article.content|raw }}
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5 gap-3">
    <div class="col-12 col-xl-auto">
      <div class="card d-flex px-4">
        <div>
          <img src="{{ article.author.imagePath }}"
               width="64"
               height="64"
               class="rounded-5"
               alt="Zdjęcie autora artykułu"
          />
        </div>

        <div class="d-flex flex-column justify-content-center ms-3">
          <p class="m-0 fw-medium">{{ article.author.fullName }}</p>
          <p class="m-0 text-muted">{{ article.author.position }}</p>
        </div>
      </div>
    </div>

    <div class="col-auto ms-xl-auto">
      <p class="m-0 mb-2 fw-medium">Udostępnij</p>

      <div class="d-flex gap-3">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.uri }}" class="share-button"
           target="_blank">
          <span class="badge rounded-pill bg-blue">
            <img src="{{ asset('build/images/icons/brand-facebook.svg') }}" alt="Logo Facebook" width="20" height="20"/>
          </span>

          <span class="d-none d-lg-block">Facebook</span>
        </a>

        <a href="https://twitter.com/intent/tweet?text={{ article.name }} {{ app.request.uri }}" class="share-button"
           target="_blank">
          <span class="badge rounded-pill text-bg-dark">
            <img src="{{ asset('build/images/icons/brand-x.svg') }}" alt="Logo X" width="20" height="20"/>
          </span>

          <span class="d-none d-lg-block">
                X (Twitter)
              </span>
        </a>

        <a
          href="mailto:?body=<strong>{{ article.name }}</strong><p>{{ article.excerpt }}</p><br /><br />Więcej dowiesz się na: {{ app.request.uri }}"
          class="share-button"
          target="_blank"
        >
          <span class="badge rounded-pill text-bg-warning">
            <img
              src="{{ asset('build/images/icons/mail-forward.svg') }}"
              alt="Ikona koperty ze strzałką"
              width="20"
              height="20"
            />
          </span>

          <span class="d-none d-lg-block">E-mail</span>
        </a>

        <button type="button" class="share-button" id="share-button-clipboard">
          <span class="badge rounded-pill text-bg-secondary">
            <img src="{{ asset('build/images/icons/copy.svg') }}" alt="Ikona schowka" width="20" height="20"/>
          </span>

          <span class="d-none d-lg-block" id="share-button-clipboard-label">Kopiuj link</span>
        </button>
      </div>
    </div>
  </div>

  <h3 class="fs-4">
    Komentarze
  </h3>

  {% if article.comments.empty %}
    <div class="card my-3">
      <span>Jeszcze nikt nie skomentował tego artykułu. Bądź pierwszy i podziel się swoją opinią.</span>
    </div>
  {% else %}
    {% for comment in article.comments %}
      <div class="card mb-3" id="comment-{{ comment.id }}">
        <div class="d-flex justify-content-between mb-1">
          <div class="fw-bold">
            {{ comment.author|default('Czytelnik') }}
          </div>

          <div class="fs-smaller text-muted">
            {{ comment.createdAt|date|format_datetime(pattern=app_datetime_format) }}
          </div>
        </div>

        <p class="m-0">{{ comment.content|preg_replace('/[\r\n]+/', '\n\n')|nl2br }}</p>
      </div>
    {% endfor %}
  {% endif %}

  <h4 class="fs-6 fw-bold mt-4 mb-3">Dodaj swój komentarz</h4>

  <div class="mb-md-5" id="comment-form">
    {{ form_start(commentForm, { 'action': "#{app.request.uri}#comment-form"}) }}
    {% if commentForm.vars.errors|length > 0 %}
      {% for error in commentForm.vars.errors %}
        <div class="alert alert-danger">
          {{ error.message|trans({}, 'validators') }}
        </div>
      {% endfor %}
    {% endif %}

    {% for success in app.flashes('success') %}
      <div class="alert alert-success">
        {{ success }}
      </div>
    {% endfor %}

    <div class="form-group mb-3">
      {{ form_row(commentForm.content, { attr: { class: 'form-control', rows: 4 } }) }}
    </div>

    <div class="row row-cols-lg-auto g-4 align-items-end justify-content-between">
      <div class="col-12">
        {{ form_row(commentForm.author, { attr: { class: 'form-control' } }) }}
      </div>
      <div class="col-12">
        {{ form_row(commentForm.submit, { attr: { class: 'btn btn-primary' } }) }}
      </div>
    </div>

    <div class="fs-smaller text-muted mt-2">
      Formularz chroniony przez reCAPTCHA i Google (<a class="text-muted" href="https://policies.google.com/privacy">Polityka prywatności</a>)
    </div>
    {{ form_end(commentForm) }}
  </div>

  <hr class="d-md-none my-5"/>

{% endblock %}
